<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marmu.handprint">

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".z_common.app.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".z_common.view.IndexableView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:pathPrefix="/hello"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".z_common.login.SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".z_common.login.LoginActivity" />
        <activity android:name=".z_common.login.OTPActivity" />
        <activity android:name=".admin.landing.activity.AdminLandingActivity" />
        <activity android:name=".admin.landing.activity.taken.SetTakenActivity" />
        <activity android:name=".admin.landing.activity.sales.SalesActivity" />
        <activity android:name=".admin.landing.activity.items_return.ReturnActivity" />
        <activity android:name=".admin.landing.activity.sales.product.ProductWiseActivity" />
        <activity android:name=".admin.landing.activity.sales.party.PartyWiseActivity" />
        <activity android:name=".admin.landing.activity.sales.party.report.PartyReportActivity" />
        <activity android:name=".admin.landing.activity.price_setup.SetAmountActivity" />
        <activity android:name=".admin.landing.activity.items_return.report.ReturnReportActivity" />
        <activity android:name=".admin.landing.activity.sales_man.AddSalesManActivity" />
        <activity android:name=".admin.landing.activity.create_order.CreateOrderActivity" />
        <activity android:name=".admin.landing.activity.sales.party.report.ReportParty" />
        <activity android:name=".admin.landing.activity.sales.product.report.ProductReportActivity" />
        <activity android:name=".sales_man.landing.activity.SalesManLandingActivity" />
        <activity android:name=".sales_man.taken.TakenActivity" />
        <activity android:name=".sales_man.landing.activity.billing.BillingActivity" />
        <activity android:name=".sales_man.landing.activity.price_setup.SetAmountActivity" />
        <activity android:name=".sales_man.landing.activity.order.OrderBilling" />
        <activity android:name=".sales_man.landing.activity.view_stock.ViewStockActivity" />
        <activity android:name=".sales_man.landing.activity.billing.add.AddBillingActivity" />
        <activity android:name=".sales_man.landing.activity.billing.view_delete_edit.ViewDeleteEditBillingActivity" />

        <receiver
            android:name=".z_common.sms.SMSReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".sales_man.landing.activity.billing.view_delete_edit.PDFViewer" />
        <activity android:name=".admin.landing.activity.sales_man.SalesManActivity" />
        <activity android:name=".admin.landing.activity.sales_man.ViewSalesManActivity" />
        <activity android:name=".admin.landing.activity.taken.TakenActivity"></activity>
    </application>

</manifest>